a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {border:0;font-size:100%;font:inherit;margin:0;padding:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:after, blockquote:before, q:after, q:before {content:"";content:none}
table {border-collapse:collapse;border-spacing:0}
a{text-decoration: none; color: #333;}
option{color: black;}
html,body{margin: 0; height: 100%; overflow: hidden;}

.header__{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: rgb(35,47,63);
}
.h_logo{
    margin-left: 30px;
    font-weight: bold;
    color:white;
}
.h_logo > span{
    margin-left: 50px;
    color: gray;
}
.nav__{
    width: 10%;
    float: left;
    text-align: center;
    background: rgb(55,76,96);
    border-right: 1px solid #eee;
    height: 100%;
}
.nav__tit{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    line-height: 60px;
}
.nav__cont > a{
    display: block;
    line-height: 60px;
    color: white;
}
.nav__tit > p {
    color: rgb(19,194,221);
}

.container{
    float: left;
    margin: 30px 2% 0 2%;
    width: 80.5%;
}

.cont{
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    margin-top: 30px;
    margin-bottom: 80px;
}
.tit{
    font-size: 25px;
    color: #555;
    display: inline-block;
    margin-bottom: 40px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tbody{
    width: 100%;
}
table tr {
    text-align: center;
}
table tr th {
    text-align: center;
    width: 10%;
}
.table-row-1{
    border-bottom: 2px solid #999;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #333;
    position: relative;
    background-color: #fff !important;
}
.check{
    width: 3%;
}
.table-row-2 {
    height: 100px;
    line-height: 100px;
    color: #555;
}

tbody tr:nth-child(2n) {
    background-color: #eee;
}

tbody tr:nth-child(2n+1) {
    background-color: #fff;
}

.row-1-btn{
    display: inline-block;
    margin-left: 3px;
}
.row-1-btn> button {
    display: inline-block;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    width: 100px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
}

.name-box{
    width: 100%;
    height: 82px;
    line-height: 82px;
    box-sizing: border-box;
    overflow: hidden;
}
.name{
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    position: relative;
    float: left;
}

.name-txt{
    display: inline-block;
    width: 577px;
    box-sizing: border-box;
    height: 130px;
    float: left;
}
.name-txt >input[type="text"]{
    width: 560px;
    height: 40px;
    border: 1px solid #ddd;
    outline:  none;
    padding-left: 15px;
    margin-top: 25px;
    margin-left: 20px;
}
.select_box{
    width: 580px;
    height: 40px;
    border: 1px solid #ddd;
    outline: none;
    padding-left: 15px;
    margin-top: 25px;
    margin-left: 20px;
}
.h_login{
    position: absolute;
    top: -2.4%;
    right: 5%;
    color: white;
}
.admin_home{
    color: white;
}
.admin_home:hover{
    color: white;
}

/* 로그인 로그아웃 커스텀 */
a.text-sm.text-gray-700.dark\:text-gray-500.underline {
    color: white;
}
.py-4{
    padding-top: 0 1rem !important;
    padding-bottom: 0 rem !important;
}
/* 로그인 로그아웃 커스텀 */