a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {border:0;font-size:100%;font:inherit;margin:0;padding:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:after, blockquote:before, q:after, q:before {content:"";content:none}
table {border-collapse:collapse;border-spacing:0}
a{text-decoration: none;}
option{color: black;}

/* 폰트 사이즈 */
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}
.bg-color-1{
  color: var(--bg-color-1);
}
.bg-color-2, .nav__link_1, .nav__link_2, .nav__link_3, .nav__link_4, .nav__logo{
  color: var(--bg-color-2);
}

h1{font-size: var(--h1-font-size);}
h2{font-size: var(--h2-font-size);
color: grey;}
span{
  font-weight: var(--font-semi-bold);
  color: grey;
}
.sub_banner_tit_wrap > p > i{
  font-size: inherit;
}
.text__cont {
  font-weight: var(--font-semi-bold);
  font-family: var( --body-font);
  display: inline-block;
}
a {font-weight: var(--font-semi-bold);}
/* 폰트 */
/* 색상 */
a{color: var(--title-color);}
.nav__drop_item:hover{background-color: var(--title-color);}
.nav__drop_item:hover a{color: var(--bg-color-2);}
.text_grey{color: var(--a-color);}
.text_grey:hover{color: var(--title-color);}
/* 색상 */

/*  */
/* 마진 */
.mt-600{
  margin-top: 600px;
}
.mt-350{
  margin-top: 350px;
}

.mt-100{
  margin-top: 100px;
}
.mt-50{
  margin-top: 50px;
}
.mt-30{
  margin-top: 30px;
}
.mt-20{
  margin-top: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-0{
  margin-top: 0px;
}

.mb-100{
  margin-bottom: 100px;
}
.mb-70{
  margin-bottom: 70px;
}
.mb-50{
  margin-bottom: 50px;
}
/* 마진 */
/* 패딩 */
.pt-50{
  padding-top: 50px;
}

.pb-70{
  padding-bottom: 70px;
}

.pb-50{
  padding-bottom: 50px;
}

.pl-80{
  padding-left: 80px;
}
/* 패딩 */
.half{
  width: 50%;
}
/* ul li */
.test > li{
  display: inline-block;
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
}
.icon_weight{
  font-weight: var(--font-semi-bold);
}
/* 글꼴 */
.sign__{
  font-family: 'Nanum Pen Script', cursive;
  color: black;
  font-size: 1.8rem;
}
.sub_tit_wrap >h2 {
  font-weight: 500;
}
.sub_tit_wrap > p {
  font-size: 1.2rem;
  color: grey;
}
